<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
		<plugin name="add-comment-field"
				type="Visionet\Checkout\Plugin\Magento\Checkout\LayoutProcessor"
				sortOrder="10"/>
	</type>
	<type name="Magento\Sales\Api\OrderRepositoryInterface">
		<plugin disabled="false"
				name="Visionet_Checkout_Plugin_Magento_Sales_Api_OrderRepositoryInterface"
				sortOrder="10"
				type="Visionet\Checkout\Plugin\Magento\Sales\Api\OrderRepositoryInterface"/>
	</type>
	<type name="Magento\Checkout\Model\PaymentInformationManagement">
	<plugin name="order_comments_save"
			sortOrder="10"
			type="Visionet\Checkout\Plugin\Magento\Checkout\PaymentInformationManagementPlugin"/>
	</type>
</config>