<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Company\Model\Company\DataProvider">
		<plugin disabled="false" name="Visionet_Company_Plugin_Magento_Company_Model_Company_DataProvider" sortOrder="10" type="Visionet\Company\Plugin\Magento\Company\Model\Company\DataProvider"/>
	</type>
	<type name="Magento\Company\Controller\Adminhtml\Index\Save">
		<plugin disabled="false" name="Visionet_Company_Plugin_Magento_Company_Controller_Adminhtml_Index_Save" sortOrder="10" type="Visionet\Company\Plugin\Magento\Company\Controller\Adminhtml\Index\Save"/>
	</type>
	<type name="Magento\Company\Api\CompanyRepositoryInterface">
		<plugin disabled="false" name="Visionet_Company_Plugin_Magento_Company_Api_CompanyRepositoryInterface" sortOrder="10" type="Visionet\Company\Plugin\Magento\Company\Api\CompanyRepositoryInterface"/>
	</type>
</config>
